* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

.u-visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fraunces', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: clamp(2rem, 2.5rem + 1vw, 5rem);
    line-height: 1;
}

p {
    font-size: 1.8rem;
    line-height: 1.6;
}

header {
    padding: 2rem;
    background-color: #49bcf2;
}

    header .Contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header svg path {
        fill: #262626;
    }

.Contain {
    max-width: 144rem;
    margin: 0 auto;
}

.MainNavigation ul {
    display: none;
    list-style-type: none;
    align-items: center;
}

    .MainNavigation ul a {
        display: block;
        padding: 0.8rem 1.5rem;
        font-size: 1.8rem;
        color: #262626;
        text-decoration: none;
    }


    .MainNavigation ul a:hover {
        text-decoration: underline;
    }

    .MainNavigation ul a:focus-visible {
        outline: 1px solid #24303E;
    }

    .MainNavigation .Contact {
        font-family: 'Fraunces', serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #24303E;
        background-color: #fff;
        border-radius: 2.8rem;
        padding: 2rem 3rem;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }

    .MainNavigation .Contact:focus,
    .MainNavigation .Contact:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }

button {
    font: inherit;
    border: 0;
    background: transparent;
    padding: 1rem;
}

.Hero {
    color: #262626;
    background-color: #49bcf2;
    text-transform: uppercase;
    text-align: center;
    display: grid;
    justify-items: center;
}

    .Hero > div { 
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .Hero > * {
        grid-area: 1 / 1;
    }

    .Hero svg {
        margin-top: 2rem;
    }

    .Hero svg path {
        stroke: #262626;
    }

.Card {
    max-width: 144rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

    .Card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .Card > div {
        display: grid;
        text-align: center;
        align-content: center;
        justify-items: center;
        padding: 5rem 0;
        max-width: 70%;
    }

    .Card > div p {
        margin: 2rem 0;
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .Card a {
        font-family: 'Fraunces', serif;
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #24303E;
        position: relative;
    }

    .Card a::after {
        content: '';
        display: block;
        height: 10px;
        background-color: #FAD400;
        opacity: 0.2;
        width: 120%;
        border-radius: 1rem;
        margin-top: -0.8rem;
        transition: opacity 0.3s ease;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    .Card a:hover::after,
    .Card a:focus-visible::after {
        opacity: 1;
    }

    .Card:nth-child(3) a::after {
        background-color: #FE7766;
    }

.Works {
    display: grid;
    max-width: 144rem;
    margin: 0 auto;
}

    .Works .Card {
        max-width: 100%;
        margin: initial;
        grid-template-columns: auto;
    }

    .Works .Card > * {
        grid-area: 1 / 1;
    }

    .Works .Card:nth-child(2) > picture {
        order: initial;
    }

    .Works .Card > div {
        align-self: end;
        text-align: center;
        padding: 0 0 5rem 0;
    }

    .Works .Card > div p {
        margin: 3rem 0 0 0;
    }

    .Works h2 {
        font-size: clamp(1rem, 2rem + 1vw, 6rem);
    }

    .Works .Card:first-child {
        color: #24554A;
    }

    .Works .Card:nth-child(2) {
        color: #052C3B;
    }

    .Works .Card:nth-child(2) p {
        color: #19536C;
    }

    .Works p {
        color: inherit;
    }

.Testimonials {
    text-align: center;
    margin: 10rem 0;
}

    .Testimonials h2 {
        margin: 5rem 0;
    }

    .Testimonials .Contain {
        display: grid;
        grid-auto-flow: row;
    }

    .Testimonials figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
    }

    .Testimonials blockquote {
        flex-grow: 1;
        margin: 3rem 0;
    }

    .Testimonials img {
        border-radius: 50%;
    }

    .Testimonials cite {
        display: block;
        font-family: 'Barlow', sans-serif;
        font-size: 1rem;
        font-style: normal;
        color: #A7AAAD;
    }

    .Testimonials figcaption {
        font-size: 1.8rem;
        font-family: 'Fraunces', serif;
        line-height: 2;
    }


.Pictures {
    display: flex;
    flex-wrap: wrap;
}

    .Pictures picture {
        flex-basis: 50%;
    }

    .Pictures img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

footer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #90D4C6;
    color: #2C7566;
}
    footer nav:first-of-type {
        margin: 5rem 0;
    }

    footer nav ul {
        display: flex;
        list-style-type: none;
    }

    footer li svg {
        flex-grow: 1;
    }

    footer a {
        display: block;
        color: #2C7566;
        padding: 0 2rem;
        font-size: 1.8rem;
        text-decoration: none;
        transition: color 0.3s ease-out;
    }

    footer path {
        transition: fill 0.3s ease-out;
    }

    footer a:focus-visible,
    footer a:hover {
        color: #fff;
    }

    footer a:focus-visible path,
    footer a:hover path {
        fill: #fff;
    }

@media (min-width: 30em) {
    .Works {
        grid-template-columns: 1fr 1fr;
    }

    .Works .Card > div {
        padding-top: 100%;
        justify-items: center;
    }
}

@media (min-width: 40em) {
    button {
        display: none;
    }

    header,
    .Hero {
        background-color: #3ebfff;
    }

    .MainNavigation ul {
        display: flex;
    }

    .Hero img {
        width: 144rem;
    }

    .Hero h1 {
        font-size: 5.6rem;
    }

    .Card {
        grid-template-columns: 1fr 1fr;
    }

        .Card:nth-child(2) > picture {
            order: 2;
        }

        .Card > div {
            aspect-ratio: initial;
            text-align: left;
            justify-items: start;
        }

    .Pictures {
        flex-wrap: nowrap;
    }

}

@media (min-width: 50em) {
    .Testimonials {
        margin: 15rem 0;
    }

        .Testimonials .Contain {
            grid-auto-flow: column;
            grid-auto-columns: minmax(0, 1fr);
        }

        .Testimonials figure {
            margin: 3rem 5rem;
        }
}

@media (min-width: 70em) {
    .Works .Card > div {
        max-width: 50%;
        padding-top: 0;
    }
}