* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

.u-visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fraunces', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: clamp(2rem, 2.5rem + 1vw, 5rem);
    line-height: 1;
}

p {
    font-size: 1.3rem;
}

header {
    padding: 2rem;
    background-color: #49bcf2;
}

    header .Contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header svg path {
        fill: #262626;
    }

.Contain {
    max-width: 144rem;
    margin: 0 auto;
}

.MainNavigation ul {
    display: none;
    list-style-type: none;
    align-items: center;
}

    .MainNavigation ul a {
        display: block;
        padding: 0.8rem 1.5rem;
        font-size: 1.8rem;
        color: #262626;
        text-decoration: none;
    }


    .MainNavigation ul a:hover {
        text-decoration: underline;
    }

    .MainNavigation ul a:focus-visible {
        outline: 1px solid #24303E;
    }

    .MainNavigation .Contact {
        font-family: 'Fraunces', serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #24303E;
        background-color: #fff;
        border-radius: 2.8rem;
        padding: 2rem 3rem;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }

    .MainNavigation .Contact:focus,
    .MainNavigation .Contact:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }

button {
    font: inherit;
    border: 0;
    background: transparent;
    padding: 1rem;
}

.Hero {
    color: #262626;
    background-color: #49bcf2;
    text-transform: uppercase;
    text-align: center;
    display: grid;
    justify-items: center;
}

    .Hero > div { 
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .Hero > * {
        grid-area: 1 / 1;
    }

    .Hero svg {
        margin-top: 2rem;
    }

    .Hero svg path {
        stroke: #262626;
    }

.Card {
    max-width: 144rem;
    margin: 0 auto;
    display: grid;
}

    .Card img {
        width: 100%;
    }

    .Card > div {
        aspect-ratio: 1 / 0.8;
        display: grid;
        text-align: center;
        align-content: center;
        justify-items: center;
        padding: clamp(2rem, 3rem + 1vw, 8rem);
    }

    .Card > div > div {
        max-width: 70%;
    }

    .Card > div p {
        margin: 2rem 0;
    }


@media (min-width: 40em) {
    button {
        display: none;
    }

    header,
    .Hero {
        background-color: #3ebfff;
    }

    .MainNavigation ul {
        display: flex;
    }

    .Hero img {
        width: 144rem;
    }

    .Hero h1 {
        font-size: 5.6rem;
    }

    .Card {
        grid-template-columns: 1fr 1fr;
    }

    .Card:nth-child(2) > picture {
        order: 2;
    }

    .Card:nth-child(2) > div {
        justify-self: end;
    }

    .Card > div {
        aspect-ratio: initial;
        text-align: left;
    }
}